<div class="container">
  <div class="user-details">
    <h3> About Me </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Platforms</h4>
      <i class="devicon-firefox-plain colored"></i>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-google-plain"></i>
      <p>Web, Android or Game development</p>
    </div>
    <div class="four columns">
      <h4>Languages</h4>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>In Java, C#, Javascript, Erlang, C/C++ or any other language</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <p>Using IDEs, version control systems, databases and frameworks</p>
    </div>
  </div>
</div>
