<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Finding Monsters Adventure" src="{{ "/assets/img/fma.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns contents">
      <h5> Finding Monsters Adventure </h5>
      <ul>
        <li> Unity3D</li>
        <li> Android</li>
        <li> Mobile</li>
        <li> VR</li>
        <li> Oculus Rift </li>
      </ul>
      <p>Black River Studios’ first original game, Finding Monsters Adventure, is available to a wide variety of Android smartphones and tablets, totally free of charge and IAPs. The game challenge is to photograph cheeky monsters set in a story from Martin Olson, one of the writers of Phineas and Ferb.</p>
      <a class="project-link" href="http://findingmonstersadventure.com/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Angest" src="{{ "/assets/img/angest.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Angest </h5>
      <ul>
        <li> Unity3D</li>
        <li> Android</li>
        <li> VR </li>
      </ul>
      <p>From the creators of Finding Monsters Adventure and Rock & Rails, ANGEST is a story-driven game where your actions can affect the narrative, making each experience unique. A surreal journey presented by Black River Studios to play in the Gear VR. Welcome home, Valentina.</p>
      <a class="project-link" href="http://blackriverstudios.net/angest/">Check it out</a>
    </div>
  </div>
</div>
